/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/file_structure
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Project_NEXA.iml
/.idea/vcs.xml
/commands/__pycache__
/core/__pycache__
/frontend/__pycache__
/.venv